.subHeader{
  box-shadow: inset 0 0 0 0.1em rgb(233, 233, 233);
  height: 80px;
  margin: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0px 1px rgb(0 0 0 / 13%);
  padding: 5px;
}

.subHeaderContent{

  background: #fff;
}

