<div class="userInfoContainer">
  <form>
    <mat-form-field class="full-width"  appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
    <p>

    <mat-form-field  appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput>
    </mat-form-field>
    <p>

    <mat-form-field class="full-width"  appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput>
    </mat-form-field>
    <p>
    <mat-form-field class="full-width"  appearance="outline">
      <mat-label>Endereço</mat-label>
      <input matInput>
    </mat-form-field>

    <div>
      <mat-form-field class="inlineInfo"  appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
  </div>
