<div class="container">
    <div class="row">
     <!-- coluna 1-->
        <div class="col-md-4 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a class="navbar-brand" 
            routerLink='/inicio'
    ><img
      src="../../assets/img/Logo_LinkeDreams (1).png"
      alt="Imagem Usuário"
      width="200px"
      class="img-fluid"
  /></a>
          </li>

          <li>
              <span class="text-light fonte-rodape fs-12 font-redes-sociais"> © 2021 Copyright: </span>
    <a class="text-light fs-12" target="_blank" href="https://github.com/"
      >DoAção</a
    >
          </li>


        </ul>
      </div>
         <!-- segunda coluna  -->
      <div class="col-md-4 d-flex justify-content-center">
        <ul class="social-network text-center">
          <li>
            <a class="nav-link px-3 text-white font-redes-sociais" routerLink='/quem-somos'>Quem Somos</a>
          </li>

          <li>
            <a class="nav-link px-3 text-white font-redes-sociais" routerLink='/contato'>Contato</a>
          </li>


        </ul>
      </div>
      <!-- terceira coluna -->
      <div class="col-md-4 d-flex justify-content-center fonte-rodape">
        <ul class="social-network">
          <li>
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="icoFacebook text-white"
            >
              <i class="fa fa-facebook-square" aria-hidden="true"><a class="font-redes-sociais"> Facebook</a></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com"
              target="_blank"
              class="icoInstagram text-white"
            >
              <i class="fa fa-instagram" aria-hidden="true"><a class="font-redes-sociais"> Instagram</a></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              class="icoLinkedin text-white"
            >
              <i class="fa fa-linkedin-square" aria-hidden="true"><a class="font-redes-sociais"> Linkedin</a></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
