
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Merienda:wght@700&display=swap" rel="stylesheet">

<div class="divCorpo">

  <h1 >Venha fazer parte do Projeto DoAção!</h1>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/img/modelo1.jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/modelo2.jpg" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/modelo3.jpg" alt="Terceiro Slide">
    </div>
  </div>
</div>
<!-- /carousel -->

<div class="card text-center">
    <div class="card-body bg-light">
      <h4 class="card-title">Transformando sonhos em realidade</h4>
      <p class="card-text">A DoAção é uma plataforma voltada para quem deseja encontrar serviços e está disposto a fazer uma verdadeira troca de conhecimentos, ajuda e colaboração! Quer conhecer um pouco mais sobre como funciona?

        Com a realidade do quadro mundial a respeito da pandemia, nós da DoAção assumimos a responsabilidade de
        entregar o melhor da plataforma para ambos os clientes.
      </p>
      <a routerLink='/faca-parte' class="btn btn-primary">SEJA UM APOIADOR</a>
    </div>
  </div>
  
  <!-- card dos produtos  -->
  <div class="container">
  <div class="team-grid">
    <div class="container-fluid">
      <div class="intro">
        <h2 class="text-center fonte-titulo cor-texto mt-5 mb-4">SE ENGAJE EM UMA CAUSA</h2>
      </div>
      <div class="row people d-flex justify-content-center">
        <a class="col-md-4 item"  routerLink="['/produtoByCategoria',3]">
          <div class="box" style="background-image:url(https://i.imgur.com/OcwpJBl.jpg)">
            <div class="cover">
              <h3 class="name">DOAÇÕES</h3>
              <p>Faça uma doação. Ajude as ONG's a dar continuidade em seus projetos</p>
            </div>
          </div>
        </a>

        <a class="col-md-4 item" routerLink="['/produtoByCategoria',2]">
          <div class="box" style="background-image:url(https://i.imgur.com/FjwW2Vm.jpg)">
            <div class="cover text-center">
              <h3 class="name">EVENTOS</h3>
              <p>Participe de um evento. Compre já a sua entrada!</p>
            </div>
          </div>
        </a>

        <a class="col-md-4 item" routerLink="['/produtoByCategoria',1]">
          <div class="box" style="background-image:url(https://i.imgur.com/y7G93Sv.jpg)">
            <div class="cover">
              <h3 class="name">PRODUTOS</h3>
              <p>Compre um produto criado pela ONG ou objetos do bazar.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mb-5" routerLink='/listaProdutos'>VEJA MAIS</button>
    </div>
  </div>
</div>




<!-- Carrousel: "Nossos rostinhos" -->
  
<div class="mt-5">
  <h3 class="text-center">Quem Somos</h3>
</div>

<div id="carouselExampleControls-2" class="carousel slide d-flex justify-content mt-5 mx-0" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <div class="row d-flex justify-content-center">

        <div class="col-md-3.5">
          <div class="card mr-8 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/Ana.jpeg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Ana</h5>
              <p id="fonte" class="card-text justify-content">
                Uma professora de português iniciando no mundo da programação.
                Entusiasta de paçocas e de ideias que possam impactar o mundo com o bem.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/alana-rodt/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/lanasoad" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card mr-8 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/Bruno.jpeg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Bruno</h5>
              <p id="fonte" class="card-text justify-content">
                Gosto de jogar videogame e sou ficcionado em tecnologia há mais de 3 anos,
                e esse desejo veio por conta do videogame e dos cursos sobre informática que fiz ao longo dos anos.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/bruno-augusto-falango-3433b0196/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/BrunoFalango" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3.5">
          <div class="card bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/Denize.jpeg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Denize</h5>
              <p id="fonte" class="card-text justify-content">
                Estudante de Análise e Desenvolvimento de Sistemas, apaixonado por animais,
                atividades físicas e games. Desbravando o mundo da tecnologia.
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/gustavo-catalane/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/GustavoBroch" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3.5">
          <div class="card mr-10 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/laíse.jpg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Laíse Galvão</h5>
              <p id="fonte" class="card-text">
                Advogada, Desenvolvedora Java Jr, apreciadora das artes, gosta de girassóis,
                encanta-se com novas culturas e apaixonada por doguinhos e gatinhos!!
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/laisegalvao/" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card mr-10 bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/Jessica.jpeg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Jessíca </h5>
              <p id="fonte" class="card-text">
                Advogada, Desenvolvedora Java Jr, apreciadora das artes, gosta de girassóis,
                encanta-se com novas culturas e apaixonada por doguinhos e gatinhos!!
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/laisegalvao/" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3.5">
          <div class="card bg-card" style="width: 18rem">
            <img class="card-img-top rounded-circle" src="../../assets/img/Ex5.jpg" alt="Imagem de capa do card" />
            <div class="card-body">
              <h5 id="fonte_titulo" class="card-title">Hana</h5>
              <p id="fonte" class="card-text justify-content">
                Desenvolvedor Jr pela Genbr. Tão grande quanto ele é seu interesse por tecnologia, música eletrônica e
                soluções mobile .
              </p>
              <div class="row mb-3 d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/vitorborela92/" target="_blank">
                  <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
                </a>
                <a href="https://github.com/neobaobr" target="_blank">
                  <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
</div>