<nav class="navbar navbar-expand-lg navbar-light bg-white" alignmentRight>
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      ...
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <a routerLink='/home'> <img
          src="../../assets/img/logo.png"
          alt="Imagem Usuário"
          width="160px"
          class="img-fluid"
      /></a>
  
          <li class="Sobre" id="navChanges">
            <a class="nav-link" aria-current="page" routerLink='/sobre'>Sobre</a>
          </li>
  
          <li class="comoFunciona" id="navChanges">
            <a class="nav-link" routerLink='/comofunciona'>Como Funciona</a>
          </li>
  
          <li class="responsabilidadeSocial" id="navChanges">
            <a class="nav-link" routerLink='/respsocial'>Responsabilidade Social</a>
          </li>
  
          <li class="Parceiros" id="navChanges"> 
            <a class="nav-link" routerLink='/services'>Parceiros</a>
          </li>
  
          <div class="dropdown" id="navChanges">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Área do usuário
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Já tenho cadastro</a>
              <a class="dropdown-item" href="#">Quero acessar minha conta</a>
            </div>
          </div>
  
      
  
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  
  <!-- Jumbotron -->
 