
 
.divCorpo{
    background-color: #B1D4E0;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    }
    
    img{
        max-width:500px;
        max-height:200px;
        border-radius: 10px;
        
    }
    h2{
        font-size: 30px;
        font-family: 'Merienda', cursive;
        padding: 10px;
    }
    
    .instBloco{
        background-color: white;
        display: flex;
        flex-direction: row;
        margin: 15px;
        border-radius: 10px;
        padding: 20px;
        border-width: 2px;
        border-style:ridge;
        align-content: space-between;
        
    
    }
    .instContent{
        width: 800px;
        text-align: justify;
        padding-right: 40px;
        font-family: 'Hind Vadodara', sans-serif;
       
    }
    
    .blocoRepasses{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    
    .repBloco{
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 20px;
        border-radius: 10px;
        border-width: 1.5px;
        border-style:groove;
        border-color: rgb(12, 11, 4);
    }
    .repContent{
        display: flex;
        text-align: center;
        padding-left: 30px;
    }
    embed{
        width: 1300px;
    
    }
     .carousel-inner{
         display: flex;
         flex-direction: row;
     }