
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Merienda:wght@700&display=swap" rel="stylesheet">
   

     <div class="divPrincipal">
          <div class="divTittle">
                    <h2>Como funciona</h2>
                     <h3>A doAção surgiu com o objetivo de arrecadar doações para instituições que fazer a diferença da vida de tanta gente e ligar quem pode ajudar doando um pouco de conhecimento e informação a quem também gosta de ajudar. Você pode fazer parte do Projeto doAção de 2 maneiras, como doador ou como voluntário, como funciona cada uma das maneiras esta descrito a baixo, qualquer duvida não hesite em entrar em contato conosco!
</h3>
        <div class="bloco">
            <div class="blocoedit">
             <h3>Doador</h3>
             <p>Para realizar uma doação para uma das instituições parceira é só realizar os seguintes passos:
                 <ul>
                     <li>Criar uma conta no doAção;</li>
                     <li>Escolher uma das instituições parceiras para efetuar a doação, é possível conhercer mais das instituiçoes na aba de responsabilidade social;</li>
                     <li>Para escolher a instituição é necessário ir na aba serviços e clicar no botão "realizar doação" na instituição desejada, o botão te direcionara para a sua carteira;</li>
                     <li>Na sua carteira você escolhe o meio de pagamento e efetua o pagamento, pronto doação realizada.</li>
                     </ul>
                     <p>A sua doAção rende pontos no nosso site que podem ser trocados por serviços prestados pelos nossos voluntarios. Para trocar seus pontos é so seguir os seguintes passos:</p>
                     <ul>
                     <li>Acesse a aba serviços;</li>
                     <li> Procure por serviços e escolha um dos serviços disponíveis;</li>
                     <li>Clique em "inscreva-se" no seu serviço desejado;</li>
                     <li>Você será encaminhado para a pagina do serviço que tem informações como duração do serviço, especificações e os horários disponíveis;</li>
                     <li>Ao clicar no botão de "increva-se" você receberá um email com as informações de contato do voluntário que irá prestar o serviço e ele também receberá o seu contato, assim vocês poderão se comunicar e combinar a plataforma em que será prestado o serviço!</li>
                     
                    </ul>
           
            </div>

            <div class="blocoedit">
                <h3>Voluntário</h3>
                <p>Para ser um voluntário do projeto Doação e ajudar nossos doadores prestando algum serviço é só seguir os seguintes passos:</p>
                <ul>
                    <li>Criar uma conta no doAção</li>
                    <li>Clique em quero ser um voluntário;</li>
                    <li>Preencha seus dados e qual o tipo de serviço você deseja oferecer, com horário, duração do serviço e especifiações;</li>
                    <li>Após o envio seus dados serão analizados pelo nosso time e um novo serviço será criado na nossa aba de serviços;</li>
                    <li>Quando algum doador resgatar seu serviço você receberá um email com as informações de contato do doador e ele também receberá o seu contato, assim vocês poderão se comunicar e combinar a plataforma em que será prestado o serviço!</li>
                </ul>


            </div>
        </div>

        
        <h3>Nós do doAção prezamos pela total transparência do projeto, então é possivel conferir todos os nossos respasses mensais na aba de responsabilidade social. Para aquecer o coração de vocês também temos na aba de responsabilidade social os vídeos de agradecimentos que recebemos constantemente, deem uma passadinha lá para conferir! Ahh e qualquer duvida entre em contato conostro clicando contato aqui em baixo.</h3>
    </div>
</div>
                        