     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">

     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Merienda:wght@700&display=swap" rel="stylesheet">


<div class="divCorpo">
<h2>Conheça um pouco mais sobre o doAção</h2>
<h3>O doação surgiu da vontade do nosso grupo de desenvolvedores de ....</h3>
</div>
